@model IEnumerable<Light_Cube.Models.Resistors>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ohms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Information)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ohms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResistorsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResistorsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResistorsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
