@model IEnumerable<LightCube.Models.Resistor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Ohms")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ohms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResistorsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResistorsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResistorsID })
        </td>
    </tr>
}

</table>
